<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<!-- 게시글 리스트 전부 보여주기 -->
	<select id="boardSelectAll" resultType="Board">
		select * from board
	</select>
	<!-- 게시글 리스트 전부 보여주기 게시판 별-->
	<select id="boardSelectAllByType" parameterType="int" resultType="Board">
		select * from board where type= #{type} order by regdate desc;
	</select>
	<!-- 게시글 하나 보여주기  -->
	<select id="boardDetail" parameterType="int" resultType="Board">
		select * from board where board_id=#{board_id}
	</select>
	<!-- 게시글 삭제 -->
	<delete id="boardDelete" parameterType="int">
		delete from board where board_id=#{board_id}
	</delete>
	<!-- 게시글 수정 -->
	<update id="boardUpdate" parameterType="Board">
		update board set title=#{title}, content=#{content} where board_id=#{board_id}
	</update>
	<!-- 게시글 찾기 -->
	<select id="boardSelectList" parameterType="String" resultType="Board">
		select * from board where title like CONCAT('%',#{keyword},'%') or writer like CONCAT('%',#{keyword},'%') or content like CONCAT('%',#{keyword},'%')
	</select>
	<!-- 게시글 등록 -->
	<insert id="boardRegist" parameterType="Board">
		insert into board(title, writer, content, like_cnt, view_cnt, type) values(#{title}, #{writer}, #{content},0,0,0)
	</insert>
	
	
	<resultMap type="BoardType" id="BoardType">
		<result column="boardname" property="boardname"/>
	</resultMap>
	<resultMap type="Board" id="Board">
		<result column="board_id" property="board_id"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="filename" property="filename"/>
		<result column="regdate" property="regdate"/>
		<result column="like_cnt" property="like_cnt"/>
		<result column="view_cnt" property="view_cnt"/>
		<result column="type" property="type"/>
		<collection property="boardType" resultMap="BoardType"/>
	</resultMap>
	<!-- 게시글 리스트 같은 writer -->
	<select id="boardSelectListWriter" parameterType="String" resultMap="Board">
		select board_id,title,writer,content,filename,regdate,like_cnt,view_cnt,b.type,t.boardname from board b inner join BoardType t on b.type = t.type where writer =#{writer}
	</select>
	
	<!-- 조회수 +1 -->
	<update id="BoardUpdateViewcnt" parameterType="int">
		 update board set view_cnt=view_cnt+1 where board_id=#{board_id}
	</update>
	
	
	<!-- tumbnail 사진 할 img update -->
	<update id="setTumbnail" parameterType="InputFiles">
		update board b set b.filename = (select refilename from boardfile where board_id =#{board_id} order by refilename limit 1) where board_id= #{board_id}
	</update>
	
	
</mapper>